In [2]:
import pandas as pd

sub1_xlsx_url = "C:\\Users\\ymg08\\Desktop\\python_code\\food_menu_refer\\kimchi.xlsx"
N_xlsx_url = "C:\\Users\\ymg08\\Desktop\\python_code\\food_menu_refer\\nutrient.xlsx"


N_df = pd.read_excel(N_xlsx_url, usecols=[1,2,3,4,5,6,7])
N_df.columns = ['menu1', 'category', 'vv', 'kcal', 'protein', 'lipid', 'carbohydrates']
N_df.head()

            menu1 category     vv       kcal protein  lipid carbohydrates
0             식품명   식품대분류명  대표식품명  에너지(kcal)  단백질(g)  지방(g)       탄수화물(g)
1     케이크_너트 브라우니  빵 및 과자류    케이크        449    5.88  25.88         48.24
2  케이크_녹차바스크치즈케이크  빵 및 과자류    케이크        363    5.26    NaN           NaN
3   케이크_녹차티라미수케이크  빵 및 과자류    케이크        289    3.96    NaN           NaN
4    케이크_뉴욕 치즈케이크  빵 및 과자류    케이크        347    4.72    NaN           NaN

In [3]:
sub1_df = pd.read_excel(sub1_xlsx_url, usecols=[1,2,3])
sub1_df.head()

   menu material amount
0  배추김치     배추김치     70
1   깍두기      깍두기     70
2  나박김치     나박김치    150
3   백김치      백김치    130
4  열무김치     열무김치     70

In [4]:
N_soup_df = N_df[(N_df['category'] == '김치류') ]

In [5]:
N_soup_df.head()

      menu1 category      vv kcal protein lipid carbohydrates
641  고들빼기김치      김치류  고들빼기김치   71    3.00  1.38         11.52
642     깍두기      김치류     깍두기   33    1.56  1.06          4.24
643    깻잎김치      김치류    깻잎김치   62    2.82  1.72          8.92
645    나박김치      김치류    나박김치   10    0.46  0.38          1.15
646     동치미      김치류     동치미   14    0.29  0.37          2.28

In [6]:
N_dic = N_soup_df.to_dict('records')
N_dic[:3]

[{'menu1': '고들빼기김치',
  'category': '김치류',
  'vv': '고들빼기김치',
  'kcal': '71',
  'protein': '3.00',
  'lipid': '1.38',
  'carbohydrates': '11.52'},
 {'menu1': '깍두기',
  'category': '김치류',
  'vv': '깍두기',
  'kcal': '33',
  'protein': '1.56',
  'lipid': '1.06',
  'carbohydrates': '4.24'},
 {'menu1': '깻잎김치',
  'category': '김치류',
  'vv': '깻잎김치',
  'kcal': '62',
  'protein': '2.82',
  'lipid': '1.72',
  'carbohydrates': '8.92'}]

In [7]:
sub1_dic = sub1_df.to_dict('records')
sub1_dic[:3]

[{'menu': '배추김치', 'material': '배추김치', 'amount': '70'},
 {'menu': '깍두기', 'material': '깍두기', 'amount': '70'},
 {'menu': '나박김치', 'material': '나박김치', 'amount': '150'}]

In [8]:
new_data = []

for item1 in N_dic:
    for item2 in sub1_dic:
        if item1.get('vv') in item2.get('menu'):
            new_data.append(item1 | item2) # | : 리스트 합치는 용도
            
print(new_data[:3])

[{'menu1': '깍두기', 'category': '김치류', 'vv': '깍두기', 'kcal': '33', 'protein': '1.56', 'lipid': '1.06', 'carbohydrates': '4.24', 'menu': '깍두기', 'material': '깍두기', 'amount': '70'}, {'menu1': '나박김치', 'category': '김치류', 'vv': '나박김치', 'kcal': '10', 'protein': '0.46', 'lipid': '0.38', 'carbohydrates': '1.15', 'menu': '나박김치', 'material': '나박김치', 'amount': '150'}, {'menu1': '동치미', 'category': '김치류', 'vv': '동치미', 'kcal': '14', 'protein': '0.29', 'lipid': '0.37', 'carbohydrates': '2.28', 'menu': '동치미', 'material': '동치미', 'amount': '100'}]

In [9]:
import re

dd = []

for item in new_data:
    menu = str(item['menu1'])
    dd = re.sub(r'.*_', '',menu)
    item['menu1'] = dd
    
   # print(item['menu1'])

new_data[:3]

[{'menu1': '깍두기',
  'category': '김치류',
  'vv': '깍두기',
  'kcal': '33',
  'protein': '1.56',
  'lipid': '1.06',
  'carbohydrates': '4.24',
  'menu': '깍두기',
  'material': '깍두기',
  'amount': '70'},
 {'menu1': '나박김치',
  'category': '김치류',
  'vv': '나박김치',
  'kcal': '10',
  'protein': '0.46',
  'lipid': '0.38',
  'carbohydrates': '1.15',
  'menu': '나박김치',
  'material': '나박김치',
  'amount': '150'},
 {'menu1': '동치미',
  'category': '김치류',
  'vv': '동치미',
  'kcal': '14',
  'protein': '0.29',
  'lipid': '0.37',
  'carbohydrates': '2.28',
  'menu': '동치미',
  'material': '동치미',
  'amount': '100'}]

In [10]:
result = pd.DataFrame(new_data)
result.head()

,menu1,category,vv,kcal,protein,lipid,carbohydrates,menu,material,amount
0,깍두기,김치류,깍두기,33,1.56,1.06,4.24,깍두기,깍두기,70
1,나박김치,김치류,나박김치,10,0.46,0.38,1.15,나박김치,나박김치,150
2,동치미,김치류,동치미,14,0.29,0.37,2.28,동치미,동치미,100
3,돌나물,김치류,물김치,5,0.31,0.08,0.75,열무물김치,열무물김치,100
4,보쌈김치,김치류,보쌈김치,30,2.19,0.72,3.73,보쌈김치,"절임용배추, 굴, 생강, 미나리, 배, 찹쌀가루, 뉴슈가","120,15,5,5,-,10,5"

In [11]:
please_data = []

for item1 in new_data:
    #for item2 in new_data:
    if item1.get('menu1') in item1.get('menu'):
        please_data.append(item1 ) # | : 리스트 합치는 용도
            
            
print(please_data[:3])

[{'menu1': '깍두기', 'category': '김치류', 'vv': '깍두기', 'kcal': '33', 'protein': '1.56', 'lipid': '1.06', 'carbohydrates': '4.24', 'menu': '깍두기', 'material': '깍두기', 'amount': '70'}, {'menu1': '나박김치', 'category': '김치류', 'vv': '나박김치', 'kcal': '10', 'protein': '0.46', 'lipid': '0.38', 'carbohydrates': '1.15', 'menu': '나박김치', 'material': '나박김치', 'amount': '150'}, {'menu1': '동치미', 'category': '김치류', 'vv': '동치미', 'kcal': '14', 'protein': '0.29', 'lipid': '0.37', 'carbohydrates': '2.28', 'menu': '동치미', 'material': '동치미', 'amount': '100'}]

In [12]:
please = pd.DataFrame(please_data)
please.head()

,menu1,category,vv,kcal,protein,lipid,carbohydrates,menu,material,amount
0,깍두기,김치류,깍두기,33,1.56,1.06,4.24,깍두기,깍두기,70
1,나박김치,김치류,나박김치,10,0.46,0.38,1.15,나박김치,나박김치,150
2,동치미,김치류,동치미,14,0.29,0.37,2.28,동치미,동치미,100
3,보쌈김치,김치류,보쌈김치,30,2.19,0.72,3.73,보쌈김치,"절임용배추, 굴, 생강, 미나리, 배, 찹쌀가루, 뉴슈가","120,15,5,5,-,10,5"
4,부추김치,김치류,부추김치,47,2.68,1.16,6.36,토마토부추김치,"부추, 토마토, 양파","30,30,10"

In [53]:
please.to_excel('result_kimchi.xlsx')